<!-- Events Grid Section -->
    <section id="events" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
            {% for event in site.events | limit:4 %}
                {% if event.youtube %}
                <div class="row text-center">
                    <div class="videoWrapper">
                    <iframe src="{{ event.youtube }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                {% endif %}
                <div class="col-lg-12 text-center">
                    <h4>{{ event.title }}</h4>
                    <p class="text-muted">{{ event.output }}</p>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
