<footer>
  <div id="links">
    <ul class="powered">
      <li>Powered by</li>
      <li><a href="https://www.xebia.com"><img src="/img/xebia.svg" /></a></li>
    </ul>
    <ul class="navigation">
      <li><h3>Navigation</h3></li>
      <li><a href="{{ site.baseurl }}/">Blog</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
      <li><a href="{{ site.baseurl }}/sitemap.xml">Sitemap</a></li>
      <li><a href="{{ site.baseurl }}/tags">Tags</a></li>
    </ul>
    <ul class="social">
      <li><h3>Social</h3></li>
      <li><a href="https://www.twitter.com/{{site.twitter_username}}">Twitter</a></li>
      <li><a href="https://www.github.com/nautsio">Github</a></li>
    </ul>
    <ul class="contact">
      <li><h3>Contact</h3></li>
      <li>Utrechtseweg 49</li>
      <li>1213 TL Hilversum</li>
      <li>The Netherlands</li>
      <li>+31 (0)35 538 1921</li>
      <li><a href="mailto:{{site.email}}">info@nauts.io</a></li>
    </ul>
  </div>
  <div id="copyright">
    <p>Copyright &copy; Nauts.io 2016. All rights reserved.</p>
  </div>
</footer>
