<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>Cargonauts are experts on containers who value the idea "from dev to datacenter in seconds"</p>
            </div>
            <div class="col-lg-4">
                <h4>Social Links</h4>
                <div class="hline-w"></div>
                <p>
                    <a href="http://github.com/cargonauts" class="btn-social btn-outline"><i class="fa fa-github"></i></a>
                    <a href="http://google.com/+Cargonauts" class="btn-social btn-outline"><i class="fa fa-google-plus"></i></a>
                    <a href="http://twitter.com/cargonauts" class="btn-social btn-outline"><i class="fa fa-twitter"></i></a>
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Contact Us</h4>
                <div class="hline-w"></div>
                <p>
                    Address: Utrechtseweg 49, Hilversum, Netherlands<br>
                    Phone: +31 (0)35 538 1921<br>
                    Email: info@cargonauts.io
                </p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->