<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">{{ site.tagline }}</div>
					<div class="intro-image"><img src="{{ "/assets/img/cargonauts-nauts.png" | prepend: site.baseurl }}" class="img-responsive"></div>
        </div>
        <div>
          Unfortunately, for legal reasons we cannot continue using the name Cargonauts. We will be back soon, with a different name. Of course we will still be all about datacenter automation. We are only changing our name.
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

