<head lang="en">
  <meta charset="UTF-8" />
  <title>Nauts.io - The datacenter automation experts</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/font-hack/2.019/css/hack-extended.min.css" />
  <link rel="stylesheet" type="text/css" href="css/prism.css" />
</head>
