<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{{ "#page-top" | prepend: page.homeurl }}"><img src="{{ "/img/cargonauts-logo-small.png" | prepend: site.baseurl }}" class="img-responsive"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="{{ "#page-top" | prepend: page.homeurl }}"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ "#services" | prepend: page.homeurl }}">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ "#expertise" | prepend: page.homeurl }}">Expertise</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ "#training" | prepend: page.homeurl }}">Training</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ "#blog" | prepend: page.homeurl }}">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ "#team" | prepend: page.homeurl }}">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ "#contact" | prepend: page.homeurl }}">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


