<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We <i class="fa fa-heart-o"></i> new technology!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Containers</h4>
										<p class="text-muted">Containers are not a hype anymore, they are here to stay. And they're great for developers. But what when you want to run containers in production? And what is the impact on your organization? We can help you with that.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Infrastructure experts</h4>
										<p class="text-muted">So you decided to use containers like Docker or Rocket. But what about the rest of your infrastructure? Can you run a database in a container? And what about storage or networking? We have years of experience in building scalable infrastructures.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Training</h4>
                    <p class="text-muted">As one of the first official Docker partners, our certified trainers can provide official Docker training. We're offering classroom-based and in-company training.</p>
                </div>
            </div>
        </div>
    </section>