<!-- About Section -->
    <section id="training">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Training</h2>
                    <h3 class="section-subheading text-muted">As one of the first Docker partners we are able to offer the official Docker training.</h3>
                </div>
            </div>
            <div class="row">
								<div class="col-lg-2"></div>
                <div class="col-lg-8">
<p>This training introduces you to the Docker platform and takes you through installing, integrating, and running it in your working environment.</p>
<h4>Programme and Course Overview</h4>
<p>You will benefit from this course if…</p>
<ul>
<li>you are a administrator or developer,</li>
<li>you want to understand the use of Docker.</li>
</ul>
<h4>What you will achieve</h4>

<p>After this training we will provide you with an official certificate of completion from Docker Inc.</p>

<p>After completing the 2-day training:</p>

<p>you will know:</p>
<ul>
<li>the history of Docker,</li>
<li>the ‘why’ of Docker,</li>
<li>how to install the Docker Engine,</li>
<li>how to create your first Docker container,</li>
<li>how connect containers together (links),</li>
<li>container orchestration,</li>
<li>Docker Container Security,</li>
<li>Docker in Production (ambassadors, service discovery, etc.).</li>
</ul>
                </div>
								<div class="col-lg-2"></div>
            </div>
						<div class="row">
                <div class="col-lg-12 text-center">
										<br /><br />
										<p><a href="http://training.xebia.com/continuous-delivery-devops/introduction-to-docker"><button type="button" class="btn btn-success btn-lg">Register now!</button></a></p>
                </div>
						</div>
        </div>
    </section>