@media (min-width: 800px) {

	#logo {
		width: 340px;
		top: 5px;
		margin-top: initial;
		left: 0;
		margin-left: 0;
   		position: relative;
		transition: all 1s;
  		-moz-transition: all 1s; /* Firefox 4 */
	  	-webkit-transition: all 1s; /* Safari and Chrome */
	  	-o-transition: all 1s; /* Opera */
	}

	#logo.larger {
		width: 750px;
		top: 60px;
		left: 50%;
	   	margin: auto;
	   	margin-left: -375px;
	}

	#headerwrap {
		padding-top: 160px;
	}

}
